/* Common card styles */
.location-card, .other-location-card, .suggested-location-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 238, 238);
    /* Add any additional styling you want for the cards */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 5px;
    height:280px;
    width: 385px;


}

/* Initial card container */
#location-container, #other-location-container, #suggested-location-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in width */
    gap: 25px; /* Adjust the space between cards */
    overflow-y: auto; /* Enable vertical scrolling if cards overflow */

}

.main_container {
    padding: 30px 100px;


}


h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
}


.Subtitle, .Subtitle0, .Subtitle1{
    font-size: 25px;
    padding-top: 40px;
}

/* Button styling */
.already-visited{
    background-color: rgb(255, 255, 255); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(0, 0, 0); /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 14px; /* Set a font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1px;
    cursor: pointer; 
    display: inline;
}


.like, .add{
    background-color: rgb(255, 255, 255); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(214, 42, 42); /* White text */
    padding: 14px 14px; /* Some padding */
    font-size: 14px; /* Set a font size */
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 1px;
    cursor: pointer; 
    max-height: 45px;
}


.like:hover, .add:hover {
    background-color: #2b2b2b;
    color: rgb(234, 77, 77); 
}

.already-visited:hover{
    background-color: #2b2b2b;
    color: rgb(255, 255, 255); 
}

.liked {
    background-color: rgb(215, 59, 54); /* Change to the desired color */
    color: white;
}

.added {
    background-color: rgb(215, 59, 54); /* Change to the desired color */
    color: white;
}

.visited{
    background-color: rgb(215, 59, 54); /* Change to the desired color */
    color: white;
}

.itbtn{
    background-color: rgb(255, 255, 255); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(0, 0, 0); /* White text */
    padding: 10px 40px; /* Some padding */
    font-size: 14px; /* Set a font size */
    border: 1px solid #292929;
    border-radius: 5px;
    margin-right: 1px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    margin: auto;
}


.card-image img {
    width: 100%;
    height: 200px;;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-content {
    padding: 12px 22px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.card-content h2 {
    font-size: 1em;
    margin: 0;
}

.card-content p {
    font-size: 1em;
    color: #555;
    margin: 5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: 4px;
    align-items: center;

}

.card-titles {
    flex-direction: column;
    display: flex;
}










.header {
    background-color: transparent;
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-name {
    font-size: 30px;
    color: black; /* Pure black color */
    font-weight: bold; /* Bold font */
    margin-left: 60px; 
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 60px; /* Adjust this to move the buttons to the left */
}

.auth-button {
    background-color: #080b08;
    color: white;
    border: 2px solid #080b08;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, border-color 0.2s; 
}

.auth-button:hover {
    color: #080b08;
    background-color: #ffffff;
    border: 2px solid #080b08; 
}

/* Banner Image */
.banner-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 34px;
    
}

.banner-image {
    width: 90%; /* Increased the width */
    max-width: 1500px; /* Optional: limit max width */
    height: 500px; /* Adjusted height */
    background-image:url('images/image.png');
    background-size: cover; 
    background-position: center;
    object-fit:fill;
    background-repeat: no-repeat;
    display:block;
    -webkit-filter: brightness(20%);
    filter:brightness(95%);
    
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.banner-content {
    position: absolute;
    top: 47%; /* Reduced the height space */
    left: 33%;
    font-family: 'Poppins', Arial, sans-serif;
    transform: translate(-50%, -50%);
    text-align: left;
}

.banner-text-small {
    color: white;
    font-size: 18px;
    font-family: 'Poppins', Arial, sans-serif; 
    margin-top: 5px; /* Adjust this to control spacing */
    margin-bottom: 5px; /* Adjust this to control spacing */
}

.banner-text-large {
    color: white;
    font-size: 90px; /* Increased font size */
    font-family: 'Poppins', Arial, sans-serif;  /* Change font to Poppins */
    font-weight: 700;
    margin-top: 0; /* Reduce space at the top */
    margin-bottom: 10px; /* Reduce space at the bottom */
}


.itbtn {
    width:300px;
    padding: 15px 20px;
    background-color: #080b08;
    color: white;
    border: 2px solid #080b08;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, border-color 0.2s; 
}

.itbtn:hover {
    background-color: #00a6ff;
    color: #080b08;
    background-color: #ffffff;
    border: 2px solid #080b08; 
}



.search-container {
    padding: 5px;
    text-align: center; /* Align the search box to the center */
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    gap: 10px;
    width: 900px;
    box-shadow: 2px 6px 80px  #000000a2;
    
}

#searchInput {
    padding: 17px;
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #a4a4a4;
    width: 90%; /* Adjust width as needed */
    font-size: 15px;
}